microservice-chart:
  image:
    repository: ghcr.io/pagopa/idpay-payment
    tag: v1.15.0@sha256:eae2d0ea8510b5e9d5b5e6d0ec2997e6e869bf721b73335bf467c2baf5c9b3bb
    pullPolicy: Always

  ingress:
    host: idpay.itn.internal.cstar.pagopa.it

  resources:
    requests:
      memory: "2Gi"
      cpu: "1"
    limits:
      memory: "3Gi"
      cpu: "2"

  autoscaling:
    enable: true
    minReplica: 15
    maxReplica: 24
    pollingInterval: 20 # seconds
    cooldownPeriod: 300 # seconds
    triggers:
      - type: cpu
        metadata:
          type: Utilization # Allowed types are 'Utilization' or 'AverageValue'
          value: "60"
      - type: memory
        metadata:
          type: Utilization
          value: "70"

  envConfig:
    JAVA_TOOL_OPTIONS: >-
      -XX:InitialRAMPercentage=75.0
      -XX:MaxRAMPercentage=85.0
      -XX:+UseG1GC
      -XX:+UseContainerSupport
      -Djava.security.egd=file:/dev/./urandom
      -javaagent:/app/applicationinsights-agent.jar
      -Dapplicationinsights.configuration.file=/mnt/file-config-external/appinsights-config/applicationinsights.json

  envSecret:
    APPLICATIONINSIGHTS_CONNECTION_STRING: appinsights-instrumentation-key

  keyvault:
    name: "cstar-p-itn-idpay-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"


  postman-test:
    run: true
    repoName: idpay-payment
    dir: postman
    collectionName: "idpay-payment-e2e.postman_collection.json"
    envVariablesFile: "idpay.postman_environment.json"
