microservice-chart:

  image:
    repository: ghcr.io/pagopa/idpay-portal-welfare-backend-initiative
    tag: v1.7.0@sha256:c7ea3eba6284343a4db7f707695bd80be2d64c81d347b218e261660605f291ac
    pullPolicy: Always

  ingress:
    host: idpay.itn.internal.cstar.pagopa.it

  resources:
    requests:
      memory: "768Mi"
      cpu: "150m"
    limits:
      memory: "768Mi"
      cpu: "600m"

  autoscaling:
    enable: true
    minReplica: 3
    maxReplica: 6
    pollingInterval: 30 # seconds
    cooldownPeriod: 300 # seconds
    triggers:
      - type: cpu
        metadata:
          type: Utilization # Allowed types are 'Utilization' or 'AverageValue'
          value: "60"
      - type: memory
        metadata:
          type: Utilization
          value: "70"

  envConfig:
    JAVA_TOOL_OPTIONS: >-
      -XX:InitialRAMPercentage=75.0
      -XX:MaxRAMPercentage=85.0
      -XX:+UseG1GC
      -XX:+UseContainerSupport
      -Djava.security.egd=file:/dev/./urandom
      -javaagent:/app/applicationinsights-agent.jar
      -Dapplicationinsights.configuration.file=/mnt/file-config-external/appinsights-config/applicationinsights.json
    INITIATIVE_LOGO_URL: "https://welfare.cstar.pagopa.it/"

  envSecret:
    APPLICATIONINSIGHTS_CONNECTION_STRING: appinsights-instrumentation-key

  keyvault:
    name: "cstar-p-itn-idpay-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"


  # nodeSelector: {}

  # tolerations: []

  # affinity: {}

  postman-test:
    run: true
    repoName: idpay-portal-welfare-backend-initiative
    dir: postman
    collectionName: "idpay-initiative-e2e.postman_collection.json"
    envVariablesFile: "idpay.postman_environment.json"
