microservice-chart:
  image:
    repository: ghcr.io/pagopa/idpay-kafka-connect
    tag: snapshot-develop
    pullPolicy: Always

  ingress:
    host: idpay.itn.internal.dev.cstar.pagopa.it
    servicePort: 8083

  service:
    ports:
      - 8083

  resources:
    requests:
      memory: "800Mi"
      cpu: "100m"
    limits:
      memory: "800Mi"
      cpu: "500m"

  autoscaling:
    enable: true
    minReplica: 1
    maxReplica: 2

  envConfig:
    JAVA_TOOL_OPTIONS: >-
      -XX:InitialRAMPercentage=50.0
      -XX:MaxRAMPercentage=70.0
      -XX:+UseG1GC
      -XX:+UseContainerSupport
      -Djava.security.egd=file:/dev/./urandom
      -Djava.util.concurrent.ForkJoinPool.common.parallelism=7
      -Dio.netty.eventLoopThreads=100
      -javaagent:applicationinsights-agent.jar
      -Dapplicationinsights.configuration.file=/mnt/file-config-external/appinsights-config/applicationinsights.json
      -agentlib:jdwp=transport=dt_socket,server=y,address=8001,suspend=n
      -Dcom.sun.management.jmxremote=true
      -Dcom.sun.management.jmxremote.port=3002
      -Dcom.sun.management.jmxremote.rmi.port=3003
      -Djava.rmi.server.hostname=127.0.0.1
      -Dcom.sun.management.jmxremote.authenticate=false
      -Dcom.sun.management.jmxremote.ssl=false
    HEAP_OPTS: >-
      -XX:InitialRAMPercentage=50.0
      -XX:MaxRAMPercentage=70.0

  envSecret:
    aks-api-url: cstar-d-itn-dev-aks-apiserver-url

  keyvault:
    name: "cstar-d-itn-idpay-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"
