microservice-chart:
  image:
    repository: ghcr.io/pagopa/mcshared-datavault
    tag: 3.2.0@sha256:e51f911d9aaacd6f39f26c1ba3ec577f93f6e52802d60e5e507b3e5a7931035c
    pullPolicy: Always

  ingress:
    host: idpay.itn.internal.dev.cstar.pagopa.it

  resources:
    requests:
      memory: "128Mi"
      cpu: "100m"
    limits:
      memory: "256Mi"
      cpu: "100m"

  autoscaling:
    enable: true
    minReplica: 1
    maxReplica: 2
    pollingInterval: 10 # seconds
    cooldownPeriod: 300 # seconds
    triggers:
      - type: cpu
        metadata:
          type: Utilization # Allowed types are 'Utilization' or 'AverageValue'
          value: "60"

  envConfig:

  envSecret:

  keyvault:
    name: "cstar-d-itn-idpay-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"
