microservice-chart:
  image:
    repository: ghcr.io/pagopa/idpay-ranker
    tag: v1.2.0@sha256:439f29c12851f1e0fcabcb4e5a1389f22452c914e1ee07eae920d1fea2ae974c
    pullPolicy: Always

  ingress:
    host: idpay.itn.internal.cstar.pagopa.it

  resources:
    requests:
      memory: "1Gi"
      cpu: "500m"
    limits:
      memory: "1.5Gi"
      cpu: "1"

# Never enable autoscaling because is used for service bus queue processing
  autoscaling:
    enable: false

  envConfig:
    JAVA_TOOL_OPTIONS: >-
      -XX:InitialRAMPercentage=50.0
      -XX:MaxRAMPercentage=70.0
      -XX:+UseG1GC
      -XX:+UseContainerSupport
      -Djava.security.egd=file:/dev/./urandom
      -javaagent:/app/applicationinsights-agent.jar
      -Dapplicationinsights.configuration.file=/mnt/file-config-external/appinsights-config/applicationinsights.json
    FORCE_STOPPED: "true"

  envSecret:
    APPLICATIONINSIGHTS_CONNECTION_STRING: appinsights-instrumentation-key

  keyvault:
    name: "cstar-p-itn-idpay-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"


  # * - Queste variabili d'ambiente le troviamo su Azure DevOps all'interno della folder Library
