microservice-chart:
  namespace: "idpay"
  nameOverride: ""
  fullnameOverride: ""

  livenessProbe:
    handlerType: httpGet
    httpGet:
      path: /actuator/health
      port: 8080
    initialDelaySeconds: 30
    failureThreshold: 15
    periodSeconds: 10

  readinessProbe:
    handlerType: httpGet
    httpGet:
      path: /actuator/health
      port: 8080
    initialDelaySeconds: 35
    failureThreshold: 15
    periodSeconds: 10

  deployment:
    create: true
    topologySpreadConstraints:
      create: true
      useDefaultConfiguration: true

  service:
    create: true
    type: ClusterIP
    ports:
      - 8080

  ingress:
    create: true
    path: /idpaymerchant/(.*)
    proxyBodySize: 2m

  podAnnotations: {}

  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault

  securityContext:
    allowPrivilegeEscalation: false
    runAsNonRoot: true
    runAsUser: 10000
    runAsGroup: 10000

  envConfig:
    MONGODB_DBNAME: "idpay-pagamenti"
    APPLICATIONINSIGHTS_ROLE_NAME: "idpaymerchant"
    APPLICATIONINSIGHTS_INSTRUMENTATION_LOGGING_LEVEL: "INFO"
    APPLICATIONINSIGHTS_INSTRUMENTATION_MICROMETER_ENABLED: "false"
    APPLICATIONINSIGHTS_PREVIEW_PROFILER_ENABLED: "false"
    APPLICATIONINSIGHTS_SAMPLING_ENABLED: "false"
    APPLICATIONINSIGHTS_SAMPLING_PERCENTAGE: "100"
    ENABLE_AUDIT_APPENDER: "TRUE"
    BLOB_STORAGE_CONTAINER_REFERENCE: merchant
    DELETE_PAGINATION_SIZE: "60"
    DELETE_DELAY_TIME: "1000"
    HEALTH_MONGO_ENABLED: "false"
    KEYCLOAK_ADMIN_USER_ACTIONS_EMAIL_LIFESPAN: "604800"

  externalConfigMapValues:
    idpay-common:
      TZ: TZ
    rest-client:
      IDPAY_INITIATIVE_BASE_URL: initiative_ms_base_url
      IDPAY_PAYMENT_BASE_URL: idpay_payment_host
      IDPAY_TRANSACTIONS_BASE_URL: idpay_transactions_host
      PDV_ENCRYPT_BASE_URL: pdv_decrypt_base_url
      PDV_DECRYPT_BASE_URL: pdv_decrypt_base_url

    idpay-eventhub-01:
      KAFKA_BROKER: kafka_broker
      KAFKA_ERRORS_BROKER: kafka_broker
      KAFKA_ERRORS_TOPIC: idpay_error_topic
      KAFKA_BINDER_BROKER_ENDPOINT_LIST: kafka_broker
      KAFKA_MERCHANT_FILE_UPLOAD_BROKER: kafka_broker
      KAFKA_MERCHANT_FILE_UPLOAD_TOPIC: idpay_reward_notification_storage_events_topic
      KAFKA_INITIATIVE_BROKER: kafka_broker
      KAFKA_INITIATIVE_TOPIC: idpay_rule_update_topic
      #KAFKA_TOPIC_COMMANDS: idpay-commands

  envSecret:
    MONGODB_URI: mongodb-primary-connection-string
    KAFKA_ERRORS_SASL_JAAS_CONFIG: evh-idpay-errors-idpay-errors-producer-jaas-config-idpay-01
    BLOB_STORAGE_CONNECTION_STRING: refund-storage-connection-string
    KAFKA_MERCHANT_FILE_UPLOAD_SASL_JAAS_CONFIG: evh-idpay-reward-notification-storage-events-idpay-reward-notification-storage-consumer-jaas-config-idpay-01
    KAFKA_COMMANDS_IN_SASL_JAAS_CONFIG: evh-idpay-commands-idpay-commands-consumer-jaas-config-idpay-01
    KAFKA_COMMANDS_OUT_SASL_JAAS_CONFIG: evh-idpay-commands-idpay-commands-producer-jaas-config-idpay-01
    KAFKA_INITIATIVE_SASL_JAAS_CONFIG: evh-idpay-rule-update-idpay-rule-update-consumer-jaas-config-idpay-01
    KEYCLOAK_ADMIN_SERVER_URL: keycloak-url
    KEYCLOAK_ADMIN_CLIENT_SECRET: keycloak-merchant-op-client-secret
    PDV_ENCRYPT_API_KEY: pdv-api-key
    PDV_DECRYPT_API_KEY: pdv-api-key

  nodeSelector: {}

  tolerations:
    - key: "idpayOnly"
      operator: "Equal"
      value: "true"
      effect: "NoSchedule"

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: domain
            operator: In
            values:
            - idpay

  externalConfigMapFiles:
    create: true
    configMaps:
      - name: appinsights-config
        key: applicationinsights.json

# How to deploy Canary(?)
# To deploy a canary version:
# 1. Uncomment and set nameOverride: "canary"
# 2. Set canaryDelivery.create: true
# 3. Configure the hotfix image tag in canaryDelivery.image.tag
# 4. Revert for remove canary deployment
#  nameOverride: "canary"
  canaryDelivery:
    create: false
    ingress:
      header: true
      headerName: X-Canary
      headerValue: canary
      weightPercent: 10
    image:
      repository: ghcr.io/pagopa/idpay-merchant
      tag: <HOT_FIX_IMAGE_HERE>
    envSecret: {}
    envConfig: {}