microservice-chart:

  namespace: "idpay"
  nameOverride: ""
  fullnameOverride: ""

  livenessProbe:
    handlerType: httpGet
    httpGet:
      path: /actuator/health/liveness
      port: 8080
    initialDelaySeconds: 120
    failureThreshold: 6
    periodSeconds: 10

  readinessProbe:
    handlerType: httpGet
    httpGet:
      path: /actuator/health/readiness
      port: 8080
    initialDelaySeconds: 120
    failureThreshold: 6
    periodSeconds: 10

  deployment:
    create: true
    topologySpreadConstraints:
      create: true
      useDefaultConfiguration: true

  service:
    create: true
    type: ClusterIP
    ports:
      - 8080

  ingress:
    create: true
    path: /idpaynotificationemail/(.*)

  podAnnotations: {}

  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault

  securityContext:
    allowPrivilegeEscalation: false
    runAsNonRoot: true
    runAsUser: 10000
    runAsGroup: 10000

  #  autoscaling:
  #    enable: true
  #    minReplica: 1
  #    maxReplica: 2
  #    pollingInterval: 30 # seconds
  #    cooldownPeriod: 300 # seconds
  #    triggers:
  #      - type: azure-monitor
  #        metadata:
  #          tenantId: 7788edaf-0346-4068-9d79-c868aed15b3d
  #          subscriptionId: ac17914c-79bf-48fa-831e-1359ef74c1d5
  #          resourceGroupName: dvopla-d-sec-rg
  #          resourceURI: Microsoft.KeyVault/vaults/dvopla-d-neu-kv
  #          metricName: ServiceApiHit
  #          # metricNamespace: Microsoft.KeyVault/vaults
  #          # metricFilter: namespace eq 'default'
  #          # metricAggregationInterval: "-1:1:0"
  #          metricAggregationType: Count
  #          targetValue: "30"

  envConfig:
    MONGODB_DBNAME: "idpay-beneficiari"
    APPLICATIONINSIGHTS_ROLE_NAME: "idpaynotificationemail"
    APPLICATIONINSIGHTS_INSTRUMENTATION_LOGGING_LEVEL: "INFO"
    APPLICATIONINSIGHTS_INSTRUMENTATION_MICROMETER_ENABLED: "false"
    APPLICATIONINSIGHTS_PREVIEW_PROFILER_ENABLED: "false"
    APPLICATIONINSIGHTS_SAMPLING_ENABLED: "false"
    APPLICATIONINSIGHTS_SAMPLING_PERCENTAGE: "100"
    ASSISTANCE_MAIL_SUBJECT_PREFIX: "[ASSISTANCE]"
#    NO_REPLY_SUBJECT_PREFIX: "[NO-REPLY]"
    NO_REPLY_SUBJECT_PREFIX: ""
    ASSISTANCE_MAIL: "assistenza.IDPay@pagopa.it"
    AWS_REGION: "eu-central-1"
    ASSISTED_LINK: "https://bonuselettrodomestici.it/utente/assistenza"

  externalConfigMapValues:
    idpay-common:
      TZ: TZ

  envSecret:
    AWS_ACCESS_KEY_ID: aws-ses-mail-user-access-key
    AWS_SECRET_ACCESS_KEY: aws-ses-mail-user-secret-key
    NO_REPLY_MAIL: aws-ses-mail-from

  externalConfigMapFiles:
    create: true
    configMaps:
      - name: appinsights-config
        key: applicationinsights.json

  tolerations:
    - key: "idpayOnly"
      operator: "Equal"
      value: "true"
      effect: "NoSchedule"

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: domain
            operator: In
            values:
            - idpay

# How to deploy Canary(?)
# To deploy a canary version:
# 1. Uncomment and set nameOverride: "canary"
# 2. Set canaryDelivery.create: true
# 3. Configure the hotfix image tag in canaryDelivery.image.tag
# 4. Revert for remove canary deployment
#  nameOverride: "canary"
  canaryDelivery:
    create: false
    ingress:
      header: true
      headerName: X-Canary
      headerValue: canary
      weightPercent: 10
    image:
      repository: ghcr.io/pagopa/idpay-notification-email
      tag: <HOT_FIX_IMAGE_HERE>
    envSecret: {}
    envConfig: {}