microservice-chart:
  namespace: "idpay"
  nameOverride: ""
  fullnameOverride: ""

  livenessProbe:
    handlerType: httpGet
    httpGet:
      path: /actuator/health/liveness
      port: 8080
    initialDelaySeconds: 120
    failureThreshold: 15
    periodSeconds: 10

  readinessProbe:
    handlerType: httpGet
    httpGet:
      path: /actuator/health/readiness
      port: 8080
    initialDelaySeconds: 125
    failureThreshold: 15
    periodSeconds: 10

  deployment:
    create: true
    topologySpreadConstraints:
      create: true
      useDefaultConfiguration: true

  service:
    create: true
    type: ClusterIP
    ports:
      - 8080

  ingress:
    create: true
    path: /idpaysplitter/(.*)

  podAnnotations: {}

  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault

  securityContext:
    allowPrivilegeEscalation: false
    runAsNonRoot: true
    runAsUser: 10000
    runAsGroup: 10000

  envConfig:
    APP: "idpay-reward-user-id-splitter"
    KAFKA_RTD_GROUP_ID: "idpay-consumer-group"
    CACHE_REFRESH_MS_RATE: "31536000000"
    MONGODB_DBNAME: "idpay-beneficiari"
    APPLICATIONINSIGHTS_ROLE_NAME: "idpayrewarduseridsplitter"
    APPLICATIONINSIGHTS_INSTRUMENTATION_LOGGING_LEVEL: "OFF"
    APPLICATIONINSIGHTS_INSTRUMENTATION_MICROMETER_ENABLED: "false"
    APPLICATIONINSIGHTS_PREVIEW_PROFILER_ENABLED: "false"
    APPLICATIONINSIGHTS_SAMPLING_ENABLED: "false"
    APPLICATIONINSIGHTS_SAMPLING_PERCENTAGE: "100"
    HEALTH_MONGO_ENABLED: "false"

  externalConfigMapValues:
    idpay-common:
      TZ: TZ
    idpay-eventhub-00:
      KAFKA_TRANSACTION_BROKER: kafka_broker
      KAFKA_TRANSACTION_TOPIC: idpay_transaction_topic
    idpay-eventhub-02:
      KAFKA_RTD_BROKER: kafka_broker_rtd_domain
      KAFKA_RTD_TOPIC: rtd_trx_topic
    idpay-eventhub-01:
      KAFKA_BROKER: kafka_broker
      KAFKA_CONFIG_SASL_MECHANISM: kafka_sasl_mechanism
      KAFKA_CONFIG_SECURITY_PROTOCOL: kafka_security_protocol
      KAFKA_TRANSACTION_USER_ID_SPLITTER_TOPIC: idpay_transaction_userid_splitter_topic
      KAFKA_ERRORS_TOPIC: idpay_error_topic

  envSecret:
    MONGODB_URI: mongodb-primary-connection-string
    KAFKA_RTD_SASL_JAAS_CONFIG: evh-rtd-trx-rtd-trx-consumer-jaas-config-idpay-02
    KAFKA_TRANSACTION_USER_ID_SPLITTER_SASL_JAAS_CONFIG: evh-idpay-transaction-user-id-splitter-idpay-transaction-user-id-splitter-producer-jaas-config-idpay-01
    KAFKA_TRANSACTION_SASL_JAAS_CONFIG: evh-idpay-transaction-idpay-transaction-producer-jaas-config-idpay-00
    KAFKA_ERRORS_SASL_JAAS_CONFIG: evh-idpay-errors-idpay-errors-producer-jaas-config-idpay-01

  nodeSelector: {}

  tolerations:
    - key: "idpayOnly"
      operator: "Equal"
      value: "true"
      effect: "NoSchedule"

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: domain
            operator: In
            values:
            - idpay

  externalConfigMapFiles:
    create: true
    configMaps:
      - name: appinsights-config
        key: applicationinsights.json

# How to deploy Canary(?)
# To deploy a canary version:
# 1. Uncomment and set nameOverride: "canary"
# 2. Set canaryDelivery.create: true
# 3. Configure the hotfix image tag in canaryDelivery.image.tag
# 4. Revert for remove canary deployment
#  nameOverride: "canary"
  canaryDelivery:
    create: false
    ingress:
      header: true
      headerName: X-Canary
      headerValue: canary
      weightPercent: 10
    image:
      repository: ghcr.io/pagopa/idpay-reward-user-id-splitter
      tag: <HOT_FIX_IMAGE_HERE>
    envSecret: {}
    envConfig: {}