microservice-chart:
  namespace: "idpay"
  nameOverride: ""
  fullnameOverride: ""

  livenessProbe:
    httpGet:
      path: /actuator/health/liveness
      port: 8080
    initialDelaySeconds: 30
    failureThreshold: 15
    periodSeconds: 10

  readinessProbe:
    httpGet:
      path: /actuator/health/readiness
      port: 8080
    initialDelaySeconds: 35
    failureThreshold: 15
    periodSeconds: 10

  deployment:
    create: true
    topologySpreadConstraints:
      create: true
      useDefaultConfiguration: true

  service:
    create: true
    type: ClusterIP
    ports:
      - 8080

  ingress:
    create: true
    path: /idpaypayment/(.*)

  podAnnotations: {}

  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault

  securityContext:
    allowPrivilegeEscalation: false
    runAsNonRoot: true
    runAsUser: 10000
    runAsGroup: 10000

  envConfig:
    MONGODB_DBNAME: "idpay-beneficiari"
    APPLICATIONINSIGHTS_ROLE_NAME: "idpaypayment"
    APPLICATIONINSIGHTS_INSTRUMENTATION_LOGGING_LEVEL: "INFO"
    APPLICATIONINSIGHTS_INSTRUMENTATION_MICROMETER_ENABLED: "false"
    APPLICATIONINSIGHTS_PREVIEW_PROFILER_ENABLED: "false"
    APPLICATIONINSIGHTS_SAMPLING_ENABLED: "false"
    APPLICATIONINSIGHTS_SAMPLING_PERCENTAGE: "100"
    ENABLE_AUDIT_APPENDER: "TRUE"
    KAFKA_COMMANDS_GROUP_ID: "idpay-commands-payment-consumer-group"
    DELETE_PAGINATION_SIZE: "100"
    DELETE_DELAY_TIME: "1000"
    TIMEOUT_PAYMENT_SECONDS: "30"
    HEALTH_MONGO_ENABLED: "false"
    BLOB_STORAGE_CONTAINER_REFERENCE: "invoices"
    STALE_MINUTES_THRESHOLD: "120"
    EXPIRY_SEND_BATCH_SIZE: "1000"
    EXPIRY_UPDATE_BATCH_SIZE: "10000"

  externalConfigMapValues:
    idpay-common:
      TZ: TZ

    rest-client:
      IDPAY_REWARD_PAYMENT: idpay-reward-calculator-baseurl
      IDPAY_MERCHANT: idpay_merchant_host
      IDPAY_WALLET: idpay_wallet_host
      IDPAY_PAYMENT_INSTRUMENT: idpay_payment_instrument_host
      IDPAY_REGISTER: idpay_register_host
      PDV_ENCRYPT_BASE_URL: pdv_decrypt_base_url
      PDV_DECRYPT_BASE_URL: pdv_decrypt_base_url

    idpay-eventhub-01:
      KAFKA_BROKER: kafka_broker
      KAFKA_ERRORS_BROKER: kafka_broker
      KAFKA_ERRORS_TOPIC: idpay_error_topic
      KAFKA_COMMANDS_BROKER: kafka_broker
      KAFKA_COMMANDS_TOPIC: idpay_commands_topic
    idpay-eventhub-00:
      KAFKA_TRANSACTION_OUTCOME_BROKER: kafka_broker
      KAFKA_TOPIC_TRANSACTION: idpay_transaction_topic

  envSecret:
    MONGODB_URI: mongodb-primary-connection-string
    KAFKA_ERRORS_SASL_JAAS_CONFIG: evh-idpay-errors-idpay-errors-producer-jaas-config-idpay-01
    KAFKA_TRANSACTION_OUTCOME_SASL_JAAS_CONFIG: evh-idpay-transaction-idpay-transaction-producer-jaas-config-idpay-00
    KAFKA_COMMANDS_SASL_JAAS_CONFIG: evh-idpay-commands-idpay-commands-consumer-jaas-config-idpay-01
    PDV_ENCRYPT_API_KEY: pdv-api-key
    PDV_DECRYPT_API_KEY: pdv-api-key
    AZURE_SERVICEBUS_CONNECTION_STRING: idpay-service-bus-ns-manager-sas-key
    AZURE_SERVICEBUS_PAYMENT_TIMEOUT_CONNECTION_STRING: idpay-payment-timeout-consumer-sas-key
    BLOB_STORAGE_ACCOUNT_NAME: refund-storage-account-name

  # nodeSelector: {}

  tolerations:
    - key: "idpayOnly"
      operator: "Equal"
      value: "true"
      effect: "NoSchedule"

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: domain
            operator: In
            values:
            - idpay

  externalConfigMapFiles:
    create: true
    configMaps:
      - name: appinsights-config
        key: applicationinsights.json

# How to deploy Canary(?)
# To deploy a canary version:
# 1. Uncomment and set nameOverride: "canary"
# 2. Set canaryDelivery.create: true
# 3. Configure the hotfix image tag in canaryDelivery.image.tag
# 4. Revert for remove canary deployment
#  nameOverride: "canary"
  canaryDelivery:
    create: false
    ingress:
      header: true
      headerName: X-Canary
      headerValue: canary
      weightPercent: 10
    image:
      repository: ghcr.io/pagopa/idpay-payment
      tag: <HOT_FIX_IMAGE_HERE>
    envSecret: {}
    envConfig: {}