microservice-chart:
  namespace: "idpay"
  nameOverride: ""
  fullnameOverride: ""

  livenessProbe:
    handlerType: httpGet
    httpGet:
      path: /actuator/health/liveness
      port: 8080
    initialDelaySeconds: 120
    failureThreshold: 15
    periodSeconds: 10

  readinessProbe:
    handlerType: httpGet
    httpGet:
      path: /actuator/health/readiness
      port: 8080
    initialDelaySeconds: 125
    failureThreshold: 15
    periodSeconds: 10

  deployment:
    create: true
    topologySpreadConstraints:
      create: true
      useDefaultConfiguration: true

  service:
    create: true
    type: ClusterIP
    ports:
      - 8080

  ingress:
    create: true
    path: /idpayselfexpensebackend/(.*)
    annotations:
      nginx.ingress.kubernetes.io/proxy-send-timeout: "3000"
    proxyBodySize: 15m

  podAnnotations: {}

  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault

  securityContext:
    allowPrivilegeEscalation: false
    runAsNonRoot: true
    runAsUser: 10000
    runAsGroup: 10000

  envConfig:
    APP: "idpay-self-expense-backend"
    MONGODB_DBNAME: "idpay-beneficiari"
    APPLICATIONINSIGHTS_ROLE_NAME: "idpayselfexpensebackend"
    APPLICATIONINSIGHTS_INSTRUMENTATION_LOGGING_LEVEL: "OFF"
    APPLICATIONINSIGHTS_INSTRUMENTATION_MICROMETER_ENABLED: "false"
    APPLICATIONINSIGHTS_PREVIEW_PROFILER_ENABLED: "false"
    APPLICATIONINSIGHTS_SAMPLING_ENABLED: "false"
    APPLICATIONINSIGHTS_SAMPLING_PERCENTAGE: "100"
    _JAVA_OPTIONS: "-Djava.util.concurrent.ForkJoinPool.common.parallelism=7 -Dio.netty.eventLoopThreads=100 -Dreactor.netty.ioWorkerCount=4 -Dreactor.netty.pool.maxConnections=16"
    HEALTH_MONGO_ENABLED: "false"
    KAFKA_COMMANDS_GROUP_ID: "idpay-commands-self-expense-consumer-group"
    BLOB_STORAGE_CONTAINER_REFERENCE: webview

  externalConfigMapValues:
    idpay-common:
      TZ: TZ
    rest-client:
      PDV_BASE_URL: pdv_decrypt_base_url
    idpay-eventhub-01:
      KAFKA_ERRORS_BROKER: kafka_broker
      KAFKA_ERRORS_TOPIC: idpay_error_topic
      KAFKA_COMMANDS_BROKER: kafka_broker
      KAFKA_COMMANDS_TOPIC: idpay_commands_topic
    idpay-eventhub-02:
      KAFKA_RTD_BROKER: kafka_broker_rtd_domain

  envSecret:
    MONGODB_URI: mongodb-primary-connection-string
    REDIS_CONNECTION_URL: idpay-redis-primary-connection-url
    PDV_DECRYPT_API_KEY: pdv-api-key
    KAFKA_ERRORS_SASL_JAAS_CONFIG: evh-idpay-errors-idpay-errors-producer-jaas-config-idpay-01
    KAFKA_COMMANDS_SASL_JAAS_CONFIG: evh-idpay-commands-idpay-commands-consumer-jaas-config-idpay-01
    KAFKA_RTD_PROD_SASL_JAAS_CONFIG: evh-rtd-trx-rtd-trx-producer-jaas-config-idpay-02
    MIL_AUTH_CLIENT_ID: mil-auth-webview-client-id
    MIL_AUTH_CLIENT_SECRET: mil-auth-webview-client-secret
    OIDC_CLIENT_ID:  oidc-client-id
    OIDC_CLIENT_SECRET: oidc-client-secret

    UTIL_CRYPTO_AES_SECRET_TYPE_PBE_SALT: notification-token-salt
    UTIL_CRYPTO_AES_SECRET_TYPE_PBE_PASSPHRASE: notification-token-passphrase
    UTIL_CRYPTO_AES_MODE_GCM_IV: notification-token-iv
    BLOB_STORAGE_CONNECTION_STRING: webview-storage-connection-string

  # nodeSelector: {}

  tolerations:
    - key: "idpayOnly"
      operator: "Equal"
      value: "true"
      effect: "NoSchedule"

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: domain
            operator: In
            values:
            - idpay

  externalConfigMapFiles:
    create: true
    configMaps:
      - name: appinsights-config
        key: applicationinsights.json

# How to deploy Canary(?)
# To deploy a canary version:
# 1. Uncomment and set nameOverride: "canary"
# 2. Set canaryDelivery.create: true
# 3. Configure the hotfix image tag in canaryDelivery.image.tag
# 4. Revert for remove canary deployment
#  nameOverride: "canary"
  canaryDelivery:
    create: false
    ingress:
      header: true
      headerName: X-Canary
      headerValue: canary
      weightPercent: 10
    image:
      repository: ghcr.io/pagopa/idpay-self-expense-backend
      tag: <HOT_FIX_IMAGE_HERE>
    envSecret: {}
    envConfig: {}