microservice-chart:
  namespace: "idpay"
  nameOverride: ""
  fullnameOverride: ""

  livenessProbe:
    handlerType: httpGet
    httpGet:
      path: /actuator/health/liveness
      port: 8080
    initialDelaySeconds: 30
    failureThreshold: 15
    periodSeconds: 10

  readinessProbe:
    handlerType: httpGet
    httpGet:
      path: /actuator/health/readiness
      port: 8080
    initialDelaySeconds: 35
    failureThreshold: 15
    periodSeconds: 10

  deployment:
    create: true
    topologySpreadConstraints:
      create: true
      useDefaultConfiguration: true

  service:
    create: true
    type: ClusterIP
    ports:
      - 8080

  ingress:
    create: true
    path: /idpaytransactions/(.*)

  podAnnotations: { }

  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault

  securityContext:
    allowPrivilegeEscalation: false
    runAsNonRoot: true
    runAsUser: 10000
    runAsGroup: 10000

  envConfig:
    MONGODB_DBNAME: "idpay-pagamenti"
    APPLICATIONINSIGHTS_ROLE_NAME: "idpaytransactions"
    APPLICATIONINSIGHTS_INSTRUMENTATION_LOGGING_LEVEL: "INFO"
    APPLICATIONINSIGHTS_INSTRUMENTATION_MICROMETER_ENABLED: "false"
    APPLICATIONINSIGHTS_PREVIEW_PROFILER_ENABLED: "false"
    APPLICATIONINSIGHTS_SAMPLING_ENABLED: "false"
    APPLICATIONINSIGHTS_SAMPLING_PERCENTAGE: "100"
    KAFKA_NOTIFICATION_GROUP_ID: "idpay-commands-transactions-consumer-group"
    DELETE_PAGINATION_SIZE: "45"
    DELETE_DELAY_TIME: "1000"
    HEALTH_MONGO_ENABLED: "false"
    BLOB_STORAGE_CONTAINER_REFERENCE: "invoices"
    INVOICE_STORAGE_SAS_DURATION_SECONDS: "60"
    SCHEDULE_REWARD_BATCH_TO_EVALUATING: "0 0 1 * * ?"

  externalConfigMapValues:
    idpay-common:
      TZ: TZ
    idpay-eventhub-01:
      KAFKA_BINDER_BROKER_ENDPOINT_REWARD_TRX: kafka_broker
      KAFKA_TRANSACTIONS_SECURITY_PROTOCOL: kafka_security_protocol
      KAFKA_ERRORS_BROKER: kafka_broker
      KAFKA_ERRORS_TOPIC: idpay_error_topic
      KAFKA_COMMANDS_BROKER: kafka_broker
      KAFKA_COMMANDS_TOPIC: idpay_commands_topic
    idpay-eventhub-00:
      KAFKA_TRANSACTIONS_BROKER: kafka_broker
      KAFKA_TRANSACTIONS_SASL_MECHANISM_00: kafka_sasl_mechanism
      KAFKA_TRANSACTION_TOPIC: idpay_transaction_topic
      KAFKA_TRANSACTION_GROUP_ID: idpay_transaction_consumer_group

    rest-client:
      PDV_BASE_URL: pdv_decrypt_base_url
      MERCHANT_BASE_URL: idpay_merchant_host

  envSecret:
    MONGODB_URI: mongodb-primary-connection-string
    EVH_CONNECTION_REWARD_RESPONSE: evh-idpay-transaction-idpay-transaction-consumer-jaas-config-idpay-00
    KAFKA_ERRORS_SASL_JAAS_CONFIG: evh-idpay-errors-idpay-errors-producer-jaas-config-idpay-01
    KAFKA_COMMANDS_SASL_JAAS_CONFIG: evh-idpay-commands-idpay-commands-consumer-jaas-config-idpay-01
    PDV_DECRYPT_API_KEY: pdv-api-key
    BLOB_STORAGE_ACCOUNT_NAME: refund-storage-account-name
    REDIS_CONNECTION_URL: idpay-redis-primary-connection-url

  externalConfigMapFiles:
    create: true
    configMaps:
      - name: appinsights-config
        key: applicationinsights.json

  tolerations:
    - key: "idpayOnly"
      operator: "Equal"
      value: "true"
      effect: "NoSchedule"

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: domain
            operator: In
            values:
            - idpay

# How to deploy Canary(?)
# To deploy a canary version:
# 1. Uncomment and set nameOverride: "canary"
# 2. Set canaryDelivery.create: true
# 3. Configure the hotfix image tag in canaryDelivery.image.tag
# 4. Revert for remove canary deployment
#  nameOverride: "canary"
  canaryDelivery:
    create: false
    ingress:
      header: true
      headerName: X-Canary
      headerValue: canary
      weightPercent: 10
    image:
      repository: ghcr.io/pagopa/idpay-transactions
      tag: <HOT_FIX_IMAGE_HERE>
    envSecret: {}
    envConfig: {}
