microservice-chart:

  image:
    repository: ghcr.io/pagopa/idpay-notification-email
    tag: snapshot-uat
    pullPolicy: Always

  ingress:
    host: idpay.itn.internal.uat.cstar.pagopa.it

  resources:
    requests:
      memory: "768Mi"
      cpu: "150m"
    limits:
      memory: "768Mi"
      cpu: "600m"

  deployment:
    replicas: 1 # This value must be set equal to autoscaling.minReplica

  autoscaling:
    enable: true
    minReplica: 1
    maxReplica: 3
    pollingInterval: 30 # seconds
    cooldownPeriod: 300 # seconds
    triggers:
      - type: cpu
        metadata:
          type: Utilization # Allowed types are 'Utilization' or 'AverageValue'
          value: "70"
      - type: memory
        metadata:
          type: Utilization
          value: "90"

  envConfig:
    ENV_TARGET: "UAT"
    LOG_LEVEL_PAGOPA: INFO
    LOG_LEVEL_INITIATIVE_NOTIFICATION_EMAIL: INFO
    LOG_LEVEL_SPRING_BOOT: INFO
    LOG_LEVEL_SPRING_WEB: INFO
    JAVA_TOOL_OPTIONS: >-
      -XX:InitialRAMPercentage=50.0
      -XX:MaxRAMPercentage=85.0
      -XX:+UseG1GC
      -XX:+UseContainerSupport
      -Djava.security.egd=file:/dev/./urandom
      -javaagent:/app/applicationinsights-agent.jar
      -Dapplicationinsights.configuration.file=/mnt/file-config-external/appinsights-config/applicationinsights.json

  envSecret:
    APPLICATIONINSIGHTS_CONNECTION_STRING: appinsights-instrumentation-key

  keyvault:
    name: "cstar-u-itn-idpay-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"

  # nodeSelector: {}

  # tolerations: []

  # affinity: {}

  postman-test:
    run: true
    repoName: idpay-notification-email
    dir: postman
    collectionName: "idpay-notification-email-e2e.postman_collection.json"
    envVariablesFile: "idpay_uat.postman_environment.json"
