microservice-chart:
  image:
    repository: ghcr.io/pagopa/idpay-timeline
    tag: snapshot-uat
    pullPolicy: Always

  ingress:
    host: idpay.itn.internal.uat.cstar.pagopa.it

  resources:
    requests:
      memory: "1Gi"
      cpu: "1000m"
    limits:
      memory: "1.5Gi"
      cpu: "1500m"

  autoscaling:
    enable: true
    minReplica: 4
    maxReplica: 8
    pollingInterval: 30 # seconds
    cooldownPeriod: 300 # seconds
    triggers:
      - type: cpu
        metadata:
          type: Utilization
          value: "70"
      - type: memory
        metadata:
          type: Utilization
          value: "70"


  envConfig:
    JAVA_TOOL_OPTIONS: >-
      -XX:InitialRAMPercentage=50.0
      -XX:MaxRAMPercentage=70.0
      -XX:+UseG1GC
      -XX:+UseContainerSupport
      -Djava.security.egd=file:/dev/./urandom
      -javaagent:/app/applicationinsights-agent.jar
      -Dapplicationinsights.configuration.file=/mnt/file-config-external/appinsights-config/applicationinsights.json

  envSecret:
    APPLICATIONINSIGHTS_CONNECTION_STRING: appinsights-instrumentation-key

  keyvault:
    name: "cstar-u-itn-idpay-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"

  postman-test:
    run: true
    repoName: idpay-timeline
    dir: postman
    collectionName: "idpay-timeline-e2e.postman_collection.json"
    envVariablesFile: "idpay_uat.postman_environment.json"
