microservice-chart:
  image:
    repository: ghcr.io/pagopa/idpay-payment-instrument
    tag: snapshot-uat@sha256:50039e9347d3d07a9851984d6a22683405cf16bd69f119d7fc783d1d40f474ba
    pullPolicy: Always

  ingress:
    host: idpay.itn.internal.uat.cstar.pagopa.it

  resources:
    requests:
      memory: "1Gi"
      cpu: "150m"
    limits:
      memory: "1Gi"
      cpu: "600m"

  deployment:
    replicas: 1 # This value must be set equal to autoscaling.minReplica

  autoscaling:
    enable: false
    minReplica: 1
    maxReplica: 3
    pollingInterval: 30 # seconds
    cooldownPeriod: 300 # seconds
    triggers:
      - type: cpu
        metadata:
          type: Utilization # Allowed types are 'Utilization' or 'AverageValue'
          value: "70"
      - type: memory
        metadata:
          type: Utilization
          value: "90"

  envConfig:
    JAVA_TOOL_OPTIONS: >-
      -XX:InitialRAMPercentage=50.0
      -XX:MaxRAMPercentage=85.0
      -XX:+UseG1GC
      -XX:+UseContainerSupport
      -Djava.security.egd=file:/dev/./urandom
      -javaagent:/app/applicationinsights-agent.jar
      -Dapplicationinsights.configuration.file=/mnt/file-config-external/appinsights-config/applicationinsights.json
    SCHEDULE_RETRIEVE_INITIATIVE: 0 0 */2 ? * *
    AZURE_KEYVAULT_URL: "https://cstar-u-itn-idpay-kv.vault.azure.net"

  envSecret:
    APPLICATIONINSIGHTS_CONNECTION_STRING: appinsights-instrumentation-key

  keyvault:
    name: "cstar-u-itn-idpay-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"

  postman-test:
    run: true
    repoName: idpay-payment-instrument
    dir: postman
    collectionName: "idpay-payment-instrument-e2e.postman_collection.json"
    envVariablesFile: "idpay_uat.postman_environment.json"
