microservice-chart:
  image:
    repository: ghcr.io/pagopa/idpay-self-expense-backend
    tag: snapshot-uat
    pullPolicy: Always

  ingress:
    host: idpay.itn.internal.uat.cstar.pagopa.it

  resources:
    requests:
      memory: "256Mi"
      cpu: "300m"
    limits:
      memory: "4Gi"
      cpu: "500m"

  deployment:
    replicas: 0 # This value must be set equal to autoscaling.minReplica

  autoscaling:
    minReplica: 0
    maxReplica: 0
    pollingInterval: 30 # seconds
    cooldownPeriod: 300 # seconds
    triggers:
      - type: cpu
        metadata:
          type: Utilization # Allowed types are 'Utilization' or 'AverageValue'
          value: "70"
      - type: memory
        metadata:
          type: Utilization
          value: "90"

  envSecret:
    APPLICATIONINSIGHTS_CONNECTION_STRING: appinsights-instrumentation-key

  keyvault:
    name: "cstar-u-itn-idpay-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"

  envConfig:
    JAVA_TOOL_OPTIONS: >-
      -XX:InitialRAMPercentage=50.0
      -XX:MaxRAMPercentage=85.0
      -XX:+UseG1GC
      -XX:+UseContainerSupport
      -Djava.security.egd=file:/dev/./urandom
      -javaagent:/app/applicationinsights-agent.jar
      -Dapplicationinsights.configuration.file=/mnt/file-config-external/appinsights-config/applicationinsights.json

    CACHE_REFRESH_MS_RATE: "10000"
    REDIS_CACHE_ENABLED: "true"
    REDIRECT_URI: "https://api-io.uat.cstar.pagopa.it/idpay/self-expense/redirect"
    WEB-VIEW-URL: "https://welfare.uat.cstar.pagopa.it/ricevute/session/<session-id>"
    MIL_AUTH_BASE_URL: "https://api-mcshared.uat.cstar.pagopa.it/auth/token"
