microservice-chart:
  image:
    repository: ghcr.io/pagopa/idpay-merchant
    tag: v2.5.1@sha256:87b28654761a2d1cc0e351dced05244bc1b73804f996c31e1689fabdba84c18e
    pullPolicy: Always

  ingress:
    host: idpay.itn.internal.cstar.pagopa.it

  resources:
    requests:
      memory: "1Gi"
      cpu: "200m"
    limits:
      memory: "1.5Gi"
      cpu: "600m"

  deployment:
    replicas: 3 # This value must be set equal to autoscaling.minReplica

  autoscaling:
    enable: true
    minReplica: 3
    maxReplica: 6
    pollingInterval: 30 # seconds
    cooldownPeriod: 300 # seconds
    triggers:
      - type: cpu
        metadata:
          type: Utilization # Allowed types are 'Utilization' or 'AverageValue'
          value: "60"
      - type: memory
        metadata:
          type: Utilization
          value: "70"

  envConfig:
    KEYCLOAK_ADMIN_REDIRECT_URI: "https://bonuselettrodomestici.it/esercente"
    MERCHANT_DEFAULT_INITIATIVES: "68dd003ccce8c534d1da22bc"
    JAVA_TOOL_OPTIONS: >-
      -XX:InitialRAMPercentage=75.0
      -XX:MaxRAMPercentage=85.0
      -XX:+UseG1GC
      -XX:+UseContainerSupport
      -Djava.security.egd=file:/dev/./urandom
      -javaagent:/app/applicationinsights-agent.jar
      -Dapplicationinsights.configuration.file=/mnt/file-config-external/appinsights-config/applicationinsights.json

  envSecret:
    APPLICATIONINSIGHTS_CONNECTION_STRING: appinsights-instrumentation-key

  keyvault:
    name: "cstar-p-itn-idpay-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"


  postman-test:
    run: true
    repoName: idpay-merchant
    dir: postman
    collectionName: "idpay-merchant-e2e.postman_collection.json"
    envVariablesFile: "idpay.postman_environment.json"
