microservice-chart:

  image:
    repository: ghcr.io/pagopa/idpay-notification-email
    tag: v1.6.0@sha256:e412acf5c74063bed7b94b2aeb3db81c0235cbe815a36d4eb99716c330d75ca7
    pullPolicy: Always

  ingress:
    host: idpay.itn.internal.cstar.pagopa.it

  resources:
    requests:
      memory: "768Mi"
      cpu: "150m"
    limits:
      memory: "768Mi"
      cpu: "600m"

  deployment:
    replicas: 3 # This value must be set equal to autoscaling.minReplica

  autoscaling:
    enable: true
    minReplica: 3
    maxReplica: 6
    pollingInterval: 30 # seconds
    cooldownPeriod: 300 # seconds
    triggers:
      - type: cpu
        metadata:
          type: Utilization # Allowed types are 'Utilization' or 'AverageValue'
          value: "60"
      - type: memory
        metadata:
          type: Utilization
          value: "90"

  envConfig:
    ENV_TARGET: "PROD"
    LOG_LEVEL_PAGOPA: INFO
    LOG_LEVEL_INITIATIVE_NOTIFICATION_EMAIL: INFO
    LOG_LEVEL_SPRING_BOOT: INFO
    LOG_LEVEL_SPRING_WEB: INFO
    JAVA_TOOL_OPTIONS: >-
      -XX:InitialRAMPercentage=75.0
      -XX:MaxRAMPercentage=85.0
      -XX:+UseG1GC
      -XX:+UseContainerSupport
      -Djava.security.egd=file:/dev/./urandom
      -javaagent:/app/applicationinsights-agent.jar
      -Dapplicationinsights.configuration.file=/mnt/file-config-external/appinsights-config/applicationinsights.json

  envSecret:
    APPLICATIONINSIGHTS_CONNECTION_STRING: appinsights-instrumentation-key

  keyvault:
    name: "cstar-p-itn-idpay-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"

  # nodeSelector: {}

  # tolerations: []

  # affinity: {}

  postman-test:
    run: true
    repoName: idpay-notification-email
    dir: postman
    collectionName: "idpay-notification-email-e2e.postman_collection.json"
    envVariablesFile: "idpay.postman_environment.json"
