microservice-chart:
  image:
    repository: ghcr.io/pagopa/idpay-wallet
    tag: snapshot-uat
    pullPolicy: Always

  ingress:
    host: idpay.itn.internal.uat.cstar.pagopa.it

  resources:
    requests:
      memory: "1536Mi"
      cpu: "250m"
    limits:
      memory: "2560Mi"
      cpu: "500m"

  deployment:
    replicas: 1 # This value must be set equal to autoscaling.minReplica

  autoscaling:
    enable: true
    minReplica: 1
    maxReplica: 3
    pollingInterval: 30 # seconds
    cooldownPeriod: 300 # seconds
    triggers:
      - type: cpu
        metadata:
          type: Utilization
          value: "70"
      - type: memory
        metadata:
          type: Utilization
          value: "70"


  envConfig:
    JAVA_TOOL_OPTIONS: >-
      -XX:InitialRAMPercentage=50.0
      -XX:MaxRAMPercentage=70.0
      -XX:+UseG1GC
      -XX:+UseContainerSupport
      -Djava.security.egd=file:/dev/./urandom
      -javaagent:/app/applicationinsights-agent.jar
      -Dapplicationinsights.configuration.file=/mnt/file-config-external/appinsights-config/applicationinsights.json
    INITIATIVE_LOGO_URL: "https://idpayuinitiativestorage.blob.core.windows.net/logo/"
    IS_IBAN_FORMAL_CONTROL_ACTIVE: "false"

  envSecret:
    APPLICATIONINSIGHTS_CONNECTION_STRING: appinsights-instrumentation-key

  keyvault:
    name: "cstar-u-itn-idpay-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"
postman-test:
  run: true
  repoName: idpay-onboarding-workflow
  dir: postman
  collectionName: "idpay-wallet-e2e.postman_collection.json"
  envVariablesFile: "idpay_uat.postman_environment.json"

  # * - Queste variabili d'ambiente le troviamo su Azure DevOps all'interno della folder Library
