microservice-chart:
  image:
    repository: ghcr.io/pagopa/mcshared-datavault
    tag: 3.1.3@sha256:e51a546face9fdf95c4847764188858ff65e34fab3f15183b41b09db2545fb22
    pullPolicy: Always

  ingress:
    host: idpay.itn.internal.uat.cstar.pagopa.it

  resources:
    requests:
      memory: "256Mi"
      cpu: "1000m"
    limits:
      memory: "512Mi"
      cpu: "2000m"

  autoscaling:
    enable: true
    minReplica: 9
    maxReplica: 21
    pollingInterval: 30 # seconds
    cooldownPeriod: 300 # seconds
    triggers:
      - type: cpu
        metadata:
          type: Utilization # Allowed types are 'Utilization' or 'AverageValue'
          value: "60"

  envConfig:

  envSecret:

  keyvault:
    name: "cstar-u-itn-idpay-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"
