microservice-chart:
  image:
    repository: ghcr.io/pagopa/idpay-admissibility-assessor
    tag: v1.7.1@sha256:6cb367ab641110a48507b05279c565b7da15f523962b82bbdfae3850121e0ba9
    pullPolicy: Always

  ingress:
    host: idpay.itn.internal.cstar.pagopa.it

  resources:
    requests:
      memory: "2Gi"
      cpu: "400m"
    limits:
      memory: "4Gi"
      cpu: "800m"

  autoscaling:
    enable: true
    minReplica: 3
    maxReplica: 6
    pollingInterval: 30 # seconds
    cooldownPeriod: 300 # seconds
    triggers:
      - type: cpu
        metadata:
          type: Utilization # Allowed types are 'Utilization' or 'AverageValue'
          value: "60"
      - type: memory
        metadata:
          type: Utilization
          value: "70"

  envSecret:
    APPLICATIONINSIGHTS_CONNECTION_STRING: appinsights-instrumentation-key
    PAGOPA_PDND_CONFIGURATION_JWT_KEY_C001: pagopa-pdnd-configuration-jwt-key-c001
    PAGOPA_PDND_CONFIGURATION_AGID_JWT_PUB_C001: pagopa-pdnd-configuration-agid-jwt-pub-c001
    PAGOPA_PDND_CONFIGURATION_CLIENT_ID_C001: pagopa-pdnd-configuration-client-id-c001
    PAGOPA_PDND_CONFIGURATION_KID_C001: pagopa-pdnd-configuration-kid-c001
    PAGOPA_PDND_CONFIGURATION_PURPOSE_ID_C001: pagopa-pdnd-configuration-purpose-id-c001
    PAGOPA_PDND_CONFIGURATION_JWT_KEY_C021: pagopa-pdnd-configuration-jwt-key-c021
    PAGOPA_PDND_CONFIGURATION_AGID_JWT_PUB_C021: pagopa-pdnd-configuration-agid-jwt-pub-c021
    PAGOPA_PDND_CONFIGURATION_CLIENT_ID_C021: pagopa-pdnd-configuration-client-id-c021
    PAGOPA_PDND_CONFIGURATION_KID_C021: pagopa-pdnd-configuration-kid-c021
    PAGOPA_PDND_CONFIGURATION_PURPOSE_ID_C021: pagopa-pdnd-configuration-purpose-id-c021
    INPS_CLIENT_CERT_STRING: pagopa-inps-client-cert-string
    INPS_CLIENT_KEY_PEM: pagopa-inps-client-key-pem

  keyvault:
    name: "cstar-p-itn-idpay-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"


  envConfig:
    JAVA_TOOL_OPTIONS: >-
      -XX:InitialRAMPercentage=80.0
      -XX:MaxRAMPercentage=90.0
      -XX:+UseG1GC
      -XX:+UseContainerSupport
      -Djava.security.egd=file:/dev/./urandom
      -javaagent:/app/applicationinsights-agent.jar
      -Dapplicationinsights.configuration.file=/mnt/file-config-external/appinsights-config/applicationinsights.json
    CACHE_REFRESH_MS_RATE: "10000"
    REDIS_CACHE_ENABLED: "true"

    PDND_ACCESS_TOKEN_AUDIENCE: auth.interop.pagopa.it/client-assertion
    PDND_BASE_URL: https://auth.interop.pagopa.it

    ANPR_ENV: prod
    ANPR_AUTH_USERID: pagopa-idpay
    ANPR_BASE_URL: https://modipa.anpr.interno.it/govway/rest/in/MinInternoPortaANPR-PDND
    ANPR_C021_AUDIENCE: https://modipa.anpr.interno.it/govway/rest/in/MinInternoPortaANPR/C021-servizioAccertamentoStatoFamiglia/v1
    #ANPR_BASE_URL: http://idpay-mock-microservice-chart:8080/idpay/mock/anpr

    #TODO Now we are using MOCK on APIM for ISEE
    INPS_MOCK_ENABLED: "false"
    INPS_MOCK_BASE_URL: http://idpay-mock-microservice-chart:8080/idpay/mock/inps/soap
    INPS_ISEE_CONSULTATION_BASE_URL: https://api.inps.it/modi/soap/ConsultazioneISEE/v1

    ONBOARDING_REQUEST_DELAY_NEXT_DAY: "true"
    ONBOARDING_REQUEST_ERROR_MAX_RETRY: 5
