microservice-chart:
  namespace: "idpay"
  nameOverride: ""
  fullnameOverride: ""

  image:
    repository: ghcr.io/pagopa/idpay-group
    tag: v1.3.0@sha256:d7819a6eba6a8833b1cc4cadd4e97e4cfd2c61d37268eebe1d41148e41e3d6ce
    pullPolicy: Always

  ingress:
    host: idpay.itn.internal.cstar.pagopa.it

  resources:
    requests:
      memory: "768Mi"
      cpu: "150m"
    limits:
      memory: "1.5Gi"
      cpu: "750m"

  autoscaling:
    minReplica: 0
    maxReplica: 0
    pollingInterval: 30 # seconds
    cooldownPeriod: 300 # seconds
    triggers:
      - type: cpu
        metadata:
          type: Utilization # Allowed types are 'Utilization' or 'AverageValue'
          value: "70"
      - type: memory
        metadata:
          type: Utilization
          value: "70"

  envConfig:
    JAVA_TOOL_OPTIONS: >-
      -XX:InitialRAMPercentage=75.0
      -XX:MaxRAMPercentage=85.0
      -XX:+UseG1GC
      -XX:+UseContainerSupport
      -Djava.security.egd=file:/dev/./urandom
      -javaagent:/app/applicationinsights-agent.jar
      -Dapplicationinsights.configuration.file=/mnt/file-config-external/appinsights-config/applicationinsights.json

  envSecret:
    APPLICATIONINSIGHTS_CONNECTION_STRING: appinsights-instrumentation-key

  keyvault:
    name: "cstar-p-itn-idpay-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"

  # nodeSelector: {}

  # tolerations: []

  # affinity: {}
postman-test:
  run: true
  repoName: idpay-group
  dir: postman
  collectionName: "idpay-group-e2e.postman_collection.json"
  envVariablesFile: "idpay.postman_environment.json"
